<button class="btn btn-outline-primary" (click)="goBack()" data-cy="backBtn" aria-label="Back to college list">
  <i class="bi bi-arrow-left me-2" aria-hidden="true"></i>
  <span>Back To List</span>
</button>

<div *ngIf="college$ | async as college; else noCollege" class="college-details-card">
  <h2 id="college-details-heading">{{ college.name }}</h2>
  <dl>
    <div class="d-flex">
      <dt>Id:</dt>
      <dd data-test="collegeId">{{ college.id }}</dd>
    </div>
    <div class="d-flex">
      <dt>City:</dt>
      <dd data-test="city">{{ college.city }}</dd>
    </div>
    <div class="d-flex">
      <dt>State:</dt>
      <dd data-test="state">{{ college.state }}</dd>
    </div>
    <div class="d-flex">
      <dt>Number of Students:</dt>
      <dd data-test="numStudents">{{ college.numStudents }}</dd>
    </div>
    <div class="d-flex">
      <dt>Tuition & Fees:</dt>
      <dd data-test="tuitionAndFees">{{ college.tuitionAndFees | currency:'USD' }}</dd>
    </div>
    <div class="d-flex">
      <dt>Number of Majors:</dt>
      <dd data-test="numMajors">{{ college.numMajors }}</dd>
    </div>
    <div class="d-flex">
      <dt>Has Sports:</dt>
      <dd data-test="hasSports">{{ college.hasSports ? 'Yes' : 'No' }}</dd>
    </div>
  </dl>
</div>
<ng-template #noCollege>
  <p role="status">No college selected.</p>
</ng-template>
