<input type="text" placeholder="Filter by school name..." [(ngModel)]="filter" class="college-filter" />
<button type="button" class="btn btn-primary ms-2" (click)="refreshCollegeList()" aria-label="Refresh college list">Refresh</button>
<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>City</th>
      <th>State</th>
      <th>Num Students</th>
      <th>Tuition & Fees</th>
      <th>Num Majors</th>
      <th>Has Sports</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let college of (paginatedColleges$ | async); trackBy: trackById" (click)="onRowClick(college)">
      <td data-label="Id">{{ college.id }}</td>
      <td data-label="Name">{{ college.name }}</td>
      <td data-label="City">{{ college.city }}</td>
      <td data-label="State">{{ college.state }}</td>
      <td data-label="Num Students">{{ college.numStudents }}</td>
      <td data-label="Tuition & Fees">{{ college.tuitionAndFees | currency:'USD' }}</td>
      <td data-label="Num Majors">{{ college.numMajors }}</td>
      <td data-label="Has Sports">{{ college.hasSports ? 'Yes' : 'No' }}</td>
    </tr>
  </tbody>
</table>
<div *ngIf="loading$ | async" class="loading">Loading colleges...</div>
<div *ngIf="error$ | async as error" class="error">Error: {{ error }}</div>

<div class="pagination mt-2" *ngIf="currentPage$ | async as currentPage">
  <ul class="pagination" *ngIf="totalPages$ | async as totalPages">
    <button type="button" class="btn first-btn btn-outline-primary" (click)="onPageChange(1)" [disabled]="currentPage === 1">First</button>
    <li class="page-item" *ngIf="currentPage !== 1" (click)="onPageChange(currentPage - 1)" [class.disabled]="currentPage === 1">
      <a class="page-link cursor-pointer">Previous</a>
    </li>
    <li class="page-item" *ngIf="currentPage === 1" [class.disabled]="currentPage === 1">
      <a class="page-link cursor-pointer">Previous</a>
    </li><!-- This is to prevent the previous button from being clickable when on the first page -->

    <li class="page-item">
      <a class="page-link active">Page {{ currentPage }} of {{ totalPages }}</a>
    </li>

    <li class="page-item">
      <a class="page-link cursor-pointer" (click)="onPageChange(currentPage + 1)" [class.disabled]="currentPage === totalPages">Next</a>
    </li>
  </ul>
</div>